.row {

  @mixin clearfix;

  &--top-padding {
    padding-top: 80px;
  }

  &--gutters {
    margin-right: -65px;

    @mixin atMedium {
      margin-bottom: 20px;
    }
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__bottom-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {

    &__bottom-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      width: 33.33%;
    }

    &__medium-4--left {
      float: left;
    }

    &__medium-4--right {
      float: right;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      width: 66.66%;
    }

    &__medium-8--left {
      float: left;
    }

    &__medium-8--right {
      float: right;
    }

    &__medium-8-smaller {
      width: 63%;
    }
  }

  @mixin atLarge {

    &__bottom-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      width: 33.33%;
    }

    &__large-4--left {
      float: left;
    }

    &__large-4--right {
      float: right;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      width: 66.66%;
    }

    &__large-8--left {
      float: left;
    }

    &__large-8--right {
      float: right;
    }

    &__large-8-smaller {
      width: 63%;
    }
  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
